{
  "useTabs": false,
  "tabWidth": 2,
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 80,
  "jsxBracketSameLine": false,
  "parser": "babel",
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "quoteProps": "as-needed"
}
