@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css');

main {
  background: rgb(247, 247, 247);
}

.lds-ellipsis {
  display: inline-block;
  height: 64px;
  position: relative;
  width: 64px;
}

.lds-ellipsis div {
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
  background: #6c757d;
  border-radius: 50%;
  height: 11px;
  position: absolute;
  top: 27px;
  width: 11px;
}

.lds-ellipsis div:nth-child(1) {
  animation: lds-ellipsis1 0.6s infinite;
  left: 6px;
}

.lds-ellipsis div:nth-child(2) {
  animation: lds-ellipsis2 0.6s infinite;
  left: 6px;
}

.lds-ellipsis div:nth-child(3) {
  animation: lds-ellipsis2 0.6s infinite;
  left: 26px;
}

.lds-ellipsis div:nth-child(4) {
  animation: lds-ellipsis3 0.6s infinite;
  left: 45px;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

.nav.nav-tabs .nav-link {
  background-color: transparent;
  cursor: pointer;
}

.nav.nav-tabs .nav-link.active {
  background-color: #fff;
}

.table-row,
.table-header {
  background: #fff;
  border-bottom: 1px solid rgb(240, 240, 240);
  color: rgb(51, 51, 51);
  text-decoration: none;
}

.table-row:hover {
  background: rgb(253, 247, 236);
}
